@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
/* Initial Imports */
/* your variables */
/* colors */
/* margins */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* CLEAR FIX */
.clear {
  clear: both;
}
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
*html .group {
  height: 1%;
}
*:first-child + html .group {
  min-height: 1px;
}
.clear {
  clear: both;
}
/* END CLEAR FIX */
/* Globals */
/* Globals */
body {
  background: #f2f2f2;
  font-family: 'Open Sans', arial, sans-serif;
}
.container {
  display: block;
  margin: auto;
  padding: 60px 10px 10px;
  max-width: 700px;
}
@media only screen and (max-width: 599px) {
  .container {
    display: block;
    margin: auto;
    padding: 60px 0 0;
    width: 95%;
  }
}
/* Style Sections */
nav {
  position: fixed;
  width: 100%;
  text-align: left;
  background: #f2f2f2;
  border-bottom: 1px solid #e5e5e5;
}
nav img {
  padding-left: 30px;
  float: left;
}
nav ul {
  display: block;
  float: left;
  padding: 15px 0 18px 30px;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav ul li:last-child {
  margin-right: 0;
}
nav ul li a {
  font-size: .8em;
  letter-spacing: .1em;
  color: #555555;
  text-transform: uppercase;
  text-decoration: none;
}
nav ul li a:hover {
  opacity: 0.8;
}
header {
  display: block;
  margin: auto;
  text-align: left;
}
header h1 {
  font-size: 2em;
  color: #555555;
  font-weight: 700;
  line-height: .9em;
}
header .date {
  font-size: .9em;
  text-transform: uppercase;
  color: #000;
  margin: 10px 0 0 0;
}
header .tags {
  display: none;
}
@media only screen and (max-width: 599px) {
  header h1 {
    font-size: 1.5em;
  }
}
.content {
  margin: 20px 0 50px;
}
.content h2 a,
.content h3 a,
.content h4 a,
.content blockquote a,
.content ol li a,
.content ul li a,
.content p a {
  color: #6666ff;
  text-decoration: none;
}
.content h2 a:hover,
.content h3 a:hover,
.content h4 a:hover,
.content blockquote a:hover,
.content ol li a:hover,
.content ul li a:hover,
.content p a:hover {
  text-decoration: underline;
}
.content p {
  font-weight: 400;
  color: #555555;
  margin-bottom: 20px;
  line-height: 1.6em;
}
.content strong {
  font-weight: 700;
}
.content h2 {
  font-size: 2.3em;
  margin: 30px 0 20px;
  padding: 0 0 10px 0;
  font-weight: 700;
  color: #555555;
  border-bottom: 1px solid #e5e5e5;
}
.content h2 a {
  color: #555555;
}
.content h3 {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0em;
  color: #6f6f6f;
  margin: 20px 0 10px;
}
.content h4 {
  font-size: 1.4em;
  font-weight: 300;
  font-style: italic;
  color: #7b7b7b;
  margin: 20px 0 10px;
}
.content blockquote {
  margin: 0 0 20px 30px;
  padding-left: 10px;
  border-left: 3px solid #ff6666;
  font-size: 1.1em;
  font-style: italic;
  font-weight: 100;
  color: #555555;
  line-height: 1.4em;
}
.content ol {
  list-style-type: decimal;
}
.content ul {
  list-style-type: disc;
}
.content ol,
.content ul {
  margin: 0 0 20px 50px;
}
.content ol li,
.content ul li {
  font-weight: 400;
  color: #555555;
  line-height: 1.4em;
}
.content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.content .inlined {
  display: inline;
  padding: 3px;
  color: #333 !important;
  margin: 0 5px;
}
.content table {
  color: #555555;
  font-size: .9em;
  border-collapse: collapse;
  border: 1px solid #dddddd;
}
.content table tr {
  border: 1px solid #dddddd;
}
.content table tr th {
  padding: 10px;
  font-weight: 900;
  background-color: #e5e5e5;
}
.content table tr td {
  border: 1px solid #dddddd;
  padding: 10px;
  vertical-align: middle;
}
.content .example {
  width: 100%;
  background-color: #fff;
  border-top: 5px solid #c2c2ff;
  padding: 15px 15px 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-bottom: 20px;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
.description {
  color: #555555;
  margin: 10px 0;
}
#recent {
  margin: 20px 0;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  column-count: 3;
  column-gap: 10px;
  width: 100%;
}
#recent .post {
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #555555;
}
#recent .post:hover {
  background-color: #555555;
  color: #fff;
}
#recent .post h2 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
}
#recent .post p {
  line-height: 1.3em;
  font-size: .8em;
}
#categories {
  text-align: center;
}
#categories .category {
  float: left;
  width: 23%;
  margin-right: 10px;
  background-color: #c0c0c0;
  padding: 20px 0;
}
#categories .category:last-child {
  margin-right: 0;
}
.highlight {
  margin-bottom: 20px;
  font-size: .9em;
  padding: 10px;
  background-color: #fff;
  overflow: auto;
  font-family: "Lucida Console", Monaco, monospace;
  border-left: 5px solid #fe9b87;
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Deleted.Specific */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Inserted.Specific */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}
.highlight .lineno {
  margin: 0 10px 0 0;
  color: #cccccc;
  font-size: 0.8em;
}
.highlight .nx,
.highlight .p {
  color: #555555;
}
.highlight .c {
  color: #999988;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .k {
  font-weight: bold;
}
.highlight .o {
  color: #ff6666;
}
.highlight .cm {
  color: #999988;
  font-style: italic;
}
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlight .gd {
  color: #555555;
  background-color: #ffdddd;
}
.highlight .gd .x {
  color: #555555;
  background-color: #ffaaaa;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gh {
  color: #999999;
}
.highlight .gi {
  color: #555555;
  background-color: #ddffdd;
}
.highlight .gi .x {
  color: #555555;
  background-color: #aaffaa;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .kc {
  color: #6666ff;
}
.highlight .kd {
  color: #6666ff;
}
.highlight .kp {
  font-weight: bold;
}
.highlight .kr {
  font-weight: bold;
}
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
.highlight .m {
  color: #009999;
}
.highlight .s {
  color: #dd1144;
}
.highlight .na {
  color: #008080;
}
.highlight .nb {
  color: #0086b3;
}
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #990000;
  font-weight: bold;
}
.highlight .nf {
  color: #990000;
  font-weight: bold;
}
.highlight .nn {
  color: #555555;
}
.highlight .nt {
  color: #000080;
}
.highlight .nv {
  color: #008080;
}
.highlight .ow {
  font-weight: bold;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight .mf {
  color: #009999;
}
.highlight .mh {
  color: #009999;
}
.highlight .mi {
  color: #009999;
}
.highlight .mo {
  color: #009999;
}
.highlight .sb {
  color: #dd1144;
}
.highlight .sc {
  color: #dd1144;
}
.highlight .sd {
  color: #dd1144;
}
.highlight .s2 {
  color: #dd1144;
}
.highlight .se {
  color: #dd1144;
}
.highlight .sh {
  color: #dd1144;
}
.highlight .si {
  color: #dd1144;
}
.highlight .sx {
  color: #dd1144;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #dd1144;
}
.highlight .ss {
  color: #990073;
}
.highlight .bp {
  color: #999999;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .il {
  color: #009999;
}
footer {
  display: block;
  padding: 20px 0;
}
footer p {
  color: #555555;
  margin-bottom: 10px;
  font-size: .8em;
}
footer #footer-content {
  float: left;
  overflow: hidden;
}
footer #social-icons {
  float: right;
  overflow: hidden;
  margin-top: 20px;
}
footer #social-icons li {
  display: inline;
  margin-left: 4px;
}
footer #social-icons li a img {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
  opacity: 0.5;
}
footer #social-icons li a img:hover {
  opacity: 0.8;
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  /* IE 9 */
  -webkit-transform: rotate(360deg);
  /* Safari and Chrome */
}
@media only screen and (max-width: 599px) {
  footer #footer-content {
    display: block;
    float: none;
    text-align: center;
  }
  footer #social-icons {
    display: block;
    float: none;
    text-align: center;
  }
  footer * {
    text-align: center;
  }
}
