---
title: Home
weight: 1
---

{% include head.html %}

<header>
	<h1>{{ site.name }}</h1>
	<p class="description">{{ site.description }}</p>
</header>

<section id="recent">
	<h2>Recent Posts</h2>
		{% for post in site.posts %}
		<div class="post">
			<a href="{{ site.base_url }}{{ post.url }}" class="post-title">{{ post.title }}<span class="arrow">&#10095; &#10095; &#10095;</span><span class="post-date">{{ post.date | date_to_string }}</span></a>
			{{ post.excerpt }}
		</div>
		{% endfor %}
	</ul>
</section>

<section id="categories" style="display:none;">
	{% for tag in site.tags %}
	<div class="category {{ tag[0] }}">
		<h2>{{ tag[0] }}</h2>
		<p>Total: {{ tag.size }}</p>
	</div>
	{% endfor %}
	<div class="cf"><div>
</section>

<section id="content" style="display:none;">
	{% for post in site.posts limit:1 %}
	<article>
		<h2><a href="{{ site.base_url }}{{ post.url }}">{{ post.title }}</a></h2>
		<p>{{ post.date | date_to_string }}</p>
		<p>{{ post.content }}</p>
	</article>
	{% endfor %}
</section>

{% include footer.html %}