---
title: Home
weight: 1
---

{% include head.html %}

<header>
	<div class="container">
		<h1>{{ site.name }}</h1>
		<p class="date">{{ site.description }}</p>
	</div>
</header>

<section id="recent">
	<div class="container">
		<h2>Recent Posts</h2>
			<div id="recent-posts">
			{% for post in site.posts limit:3 %}
			<h1><a href="{{ site.base_url }}{{ post.url }}">{{ post.title }}</a><span>{{ post.date | date_to_string }}</span></h1>
			{% endfor %}
		</div>
	</div>
</section>

<section id="categories" style="display:none;">
	<div class="container">
		{% for tag in site.tags %}
		<div class="category {{ tag[0] }}">
			<h2>{{ tag[0] }}</h2>
			<p>Total: {{ tag.size }}</p>
		</div>
		{% endfor %}
		<div class="cf"><div>
	</div>
</section>

<section id="content">
	<div class="container">
		{% for post in site.posts limit:1 %}
		<article>
			<h2><a href="{{ site.base_url }}{{ post.url }}">{{ post.title }}</a></h2>
			<p>{{ post.date | date_to_string }}</p>
			<p>{{ post.content }}</p>
		</article>
		{% endfor %}
	</div>
</section>


{% include footer.html %}