<footer>
	<div class="container">
		<div id="footer-content">
			<p>Knowledge is power.</p>
			<p>Creative Media Alliance &copy; 2014</p>
		</div>
		<ul id="social-icons">
			<li><a href="#" target="_blank"><img height="20" width="20" src="images/social-icons/social-blog.png"></a></li>
			<li><a href="#" target="_blank"><img height="20" width="20" src="images/social-icons/social-facebook.png"></a></li>
			<li><a href="#" target="_blank"><img height="20" width="20" src="images/social-icons/social-flickr.png"></a></li>
			<li><a href="#" target="_blank"><img height="20" width="20" src="images/social-icons/social-github.png"></a></li>
			<li><a href="#" target="_blank"><img height="20" width="20" src="images/social-icons/social-instagram.png"></a></li>
			<li><a href="#" target="_blank"><img height="20" width="20" src="images/social-icons/social-linkedin.png"></a></li>
			<li><a href="#" target="_blank"><img height="20" width="20" src="images/social-icons/social-twitter.png"></a></li>
			<li><a href="#" target="_blank"><img height="20" width="20" src="images/social-icons/social-vimeo.png"></a></li>
			<li><a href="#" target="_blank"><img height="20" width="20" src="images/social-icons/social-youtube.png"></a></li>
		</ul>
		<div class="cf"></div>
	</div>
</footer>
<script src="/js/cma.js"></script>

</body>
</html>