.description {
	color:@c_black;
	margin:10px 0;
}

#recent {
	margin:20px 0;
	-moz-column-count: 3;
  -moz-column-gap: 10px;
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  column-count: 3;
  column-gap: 10px;
  width: 100%;

	.post {
		display: inline-block;
		margin-bottom: 10px;
		width: 100%;
		padding:10px;
		background-color:#fff;
		.border-box();
		color:@c_black;
		&:hover {
			background-color:@c_black;
			color:#fff;
		}
		h2 {
			font-size:1.5em;
			font-weight:700;
			margin-bottom:10px;
		}
		p {
			line-height:1.3em;
			font-size:.8em;
		}
	}
}
#categories {
	text-align:center;
	.category {
		float:left;
		width:23%;
		margin-right:10px;
		background-color:#c0c0c0;
		padding:20px 0;
		&:last-child {
			margin-right:0;
		}
	}
}