.description {
	color:@c_black;
	margin:10px 0;
}

#recent {
	margin:20px 0;
	h2 {
		font-size:1.2em;
		font-weight:600;
		color:@c_black;
		margin-bottom:5px;
	}
	.post {
		display:block;
		margin-bottom:20px;
		.post-title {
			text-decoration:none;
			font-size:1.3em;
			font-weight:600;
			display:block;
			padding:10px 7px;
			background-color:lighten(@c_cma_orange, 15%);
			color:@c_white;
			overflow:hidden;
			.arrow {
				padding-left:15px;
				.transition(.3s);				
			}
			.post-date {
				float:right;
				font-size:.65em;
			}
			&:hover {
				background-color:lighten(@c_cma_orange, 5%);
				.arrow {
					padding-left:30px;
				}
			}
		}
		p {
			padding:10px 7px;
			background-color:#fff;
			color:@c_black;
			line-height:1.3em;
			font-size:.9em;
		}
	}
}
#categories {
	text-align:center;
	.category {
		float:left;
		width:23%;
		margin-right:10px;
		background-color:#c0c0c0;
		padding:20px 0;
		&:last-child {
			margin-right:0;
		}
	}
}